/* src/tasks/Tasks.css */

.tasks {
  width: 100%;
  height: fit-content;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.tasks ul,
.tasks li {
  list-style: none;
}

.tasks .header {
  display: flex;
  align-items: center;
}

.tasks .tasks-worked-hours,
.tasks h1,
.tasks .tasks-collapse-up,
.tasks .tasks-collapse-down {
  width: 33.333%;
}


.tasks h1 {
  text-align: center;
  font-size: 1.5rem;
}

.tasks-collapse-up,
.tasks-collapse-down {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position-x: right;
}

.tasks-collapse-up {
  background-image: url('../main/assets/arrow_up.png');
}

.tasks-collapse-down {
  background-image: url('../main/assets/arrow_down.png');
}

.tasks ul {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  color: gray;
}

.tasks-worked-hours {
  color: gray;
}

.tasks-worked-hours-number {
  font-size: 1.5rem;
  color: white;
}

.tasks button {
  background-color: transparent;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
  cursor: pointer;
}

.tasks .interval-and-input {
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.tasks .interval-and-input-interval {
  min-width: 120px;
  text-align: center;
  color: gray;
}

.tasks .interval-and-input input {
  background-color: transparent;
  color: white;
  border: none;
  width: 100%;
  outline: none;
}

.delete-btn-and-interval-and-input {
  display: flex;
  column-gap: 10px;
}

.hide {
  display: none;
}
