/* src/todo/Todo.css */

.todo {
  width: 100%;
  height: fit-content;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.todo .header {
  display: flex;
  align-items: center;
}

.todo .header .todo-completed,
.todo .header h1,
.todo .header .todo-collapse-up,
.todo .header .todo-collapse-down {
  width: 33.333%;
}

.todo-completed {
  color: gray;
}

.todo-completed-number,
.todo h1 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.todo-collapse-up,
.todo-collapse-down {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position-x: right;
}

.todo-collapse-up {
  background-image: url('../main/assets/arrow_up.png');
}

.todo-collapse-down {
  background-image: url('../main/assets/arrow_down.png');
}





.todo ul,
.todo li {
  list-style: none;
}

.todo ul {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.hide {
  display: none;
}

.todo li {
  cursor: pointer;
}

.todo-todo,
.todo-done,
.todo input,
.todo button {
  padding: 5px;
}

.todo .button-and-input {
  display: flex;
  column-gap: 10px;
}

.todo button,
.todo input {
  background-color: transparent;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.todo button {
  width: 200px;
  cursor: pointer;
}

.todo input {
  width: 100%;
  outline: none;
}

.todo-done {
  color: gray;
  text-decoration-line: line-through;
}