.Stats {
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: gray;
}

.Stats .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Stats .counter {
  font-size: 1.5rem;
  color: white;
}

.Stats h2 {
  color: white;
}

.stats_detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.hide.stats_detail {
  display: none;
}

.Stats .spreadBtn,
.Stats .shrinkBtn {
  width: 25px;
  height: 25px;
  padding: 5px;
  margin: 1px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.Stats .spreadBtn {
  background-image: url("../main/assets/arrow_down.png");
}

.Stats .shrinkBtn {
  background-image: url("../main/assets/arrow_up.png");
}
